.header {
  text-align: right;
}

.header nav {
  background-color: blanchedalmond;
  line-height: 45px;
  font-size: 25px;
}
nav a {
  text-decoration: none;
  color: green;
  margin-right: 20px;
  padding: 5px;
}
nav a:hover {
  background-color: black;
}
